<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="This is where your description goes">
    	<meta name="keywords" content="one, two, three">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">


		<title>Tasks Manager</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
		<script src="https://kit.fontawesome.com/29cb2c9a11.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<h1>Tasks Manager: Node.js CRUD API with Express and MongoDB</h1>

		<!-- Tasks Form -->
		<h2>Add New Task</h2>
		<form action="/tasks" method="POST">
			<label for="dueDate">Due Date:</label><br>
			<input type="date" id="dueDate" name="dueDate"><br>
		
			<label for="taskName">Task Name:</label><br>
			<input type="text" id="taskName" name="taskName" required><br>
		
			<label for="description">Description:</label><br>
			<textarea id="description" name="description" rows="4" cols="50"></textarea><br>
		
			<!-- Add more fields as needed -->
		
			<button type="submit">Add Task</button>
		</form>

		<!-- Template -->
		<h3>Tasks List</h3>
		<ul class="tasks">
			<% if (tasks && tasks.length > 0) {%>
				<% tasks.forEach(task =>  {%>
				<li class="task">
					<section class="entry">
						<section class="info">
							<span class="task-name"><%=task.taskName%></span><br>
						<small>Due on: <%=task.dueDate%></small>
						<p><%= task.description%></p>
						</section>
						<div class="crud-buttons">
							<button data-id="<%= task._id %>" class="btn btn-success" id="save-btn">Update</button>
							<button data-id="<%= task._id %>" class="btn btn-danger" id="delete-btn">Delete</button>
						</div>
					</section>
				</li>
				<%})%>
			<%} else {%>
				<p>No tasks available.</p>
			<%}%>
		</ul>

		<!-- Links to Other API's -->
		<ul>
			<!-- <li class="api-icon"><a href="/tasks"><i class="fas fa-tasks"></i> Tasks Manager API</a></li> -->
			<li class="api-icon"><a href="/employees"><i class="fas fa-users"></i> Team Tracker API</a></li>
			<li class="api-icon"><a href="/quotes"><i class="fas fa-quote-left"></i> Quotes API</a></li>
			<li class="api-icon"><a href="/contacts"><i class="fas fa-address-book"></i> Address Book API</a></li>
			<li class="api-icon"><a href="/posts"><i class="fas fa-pencil-alt"></i> Posts/Blog API</a></li>
		</ul>
		<!-- <%= tasks %> -->

		<script src="/main.js"></script>
	</body>
</html>
